extends layout

block content
  h1= title

  <form action = "http://localhost:3000/ps4" method="POST">
    <label for="CountryName">Country:</label>
    <input type = "text" id = "CountryName" name = "CountryName">
    <input type = "submit" value = "Search">
  </form>
