extends layout

block content
  div(class="bgimage")
    div(class="card text-center cd")
      h1(class="card-title") StepSyncer
      h4(class="card-text") You are logged into both  Google and Fitbit!

  //h1= StepSyncer
  //p You are logged into both  Google and Fitbit!
  
  