extends layout

block content
  div(class="bgimage")
    div(class="card text-center cd")
      form(action='/auth/fitbit/addsteps', method = 'POST')
        label(for='activityId') Activity to be logged (12030 for Running, 17151 is Walking):
        br
        input#activityId(type='number' name= 'activityId' value='12030')
        br
        br
        label(for = 'startTime') Start Time (HH:mm):
        br
        input#startTime(type='time' name= `startTime` value = '00:00')
        br
        br
        label(for = 'durationMillis') Duration of Workout in minutes:
        br
        input#durationMillis(type='number' name = "durationMillis" value='60')
        br
        br
        label(for = 'date') date:
        br
        input#date(type = 'date' name = 'dateymd' value='2020-01-01')
        br
        br
        label(for='distance') Distance in miles :
        br
        input#distance(type='number' name='distance' value='2')
        br
        br
        input(type='submit' value='Submit')

        