extends layout

block content
  h1= title
  p #{username}, you have been authorized! Here are some stats about your data. 
  p You have walked a total of #{distance} miles.
  p The furthest you have walked per day is #{mostperday} miles per day. 