extends layout

block content
  div(class="bgimage")
    div(class="card text-center cd")
      h1(class="card-title") StepSyncer
      p(class="card-text") #{username}, you have been authorized! Here are some stats about your data. 
      p(class="card-text") You have walked a total of #{distance} miles!
      p(class="card-text") The furthest you have walked per day is #{mostperday} miles per day. 