extends layout

block content
  div(class="bgimage")
    div(class="card text-center cd")
      h1(class="card-title") StepSyncer
      h4(class="card-text") #{username}, you have been authorized for #{authorized}!
      h4(class="card-text") Please log into your other application.
      button(type="button" onclick=`${googlelink}` class="btn btn-primary") Log into #{val}

  