extends layout

block content
  h1 Welcome to StepSyncer
  p1 Please Log Into Your Fitbit
  <input type="button" onclick="location.href='http://localhost:3000/auth/fitbit';" value="Log in" />
  //- <input type="button" onclick="location.href='http://localhost:3000/auth/google';" value="Log in to Google" />

