extends layout

block content
  h1= title
  p Welcome to #{title}
  <input type="button" onclick="location.href='http://localhost:3000/auth/fitbit';" value="Log in to fitbit" />
  <input type="button" onclick="location.href='http://localhost:3000/auth/google';" value="Log in to google" />
