extends layout

block content
    p Awesome, click here to see your updated stats :)
    button(type="button" onclick="location.href='http://localhost:3000/auth/fitbit'" class="btn btn-primary") View Updated Stats