extends layout

block content
    form(action='/auth/fitbit/addsteps', method = 'POST')
      label(for='activityId') Activity to be logged (12030 for Running, 17151 is Walking):
      br
      input#activityId(type='number' name= 'activityId' value='12030')
      br
      br
      label(for = 'startTime') Start Time (HH:mm):
      br
      input#startTime(type='time' name= `startTime` value = '00:00')
      br
      br
      label(for = 'durationMillis') Duration of Workout in ms:
      br
      input#durationMillis(type='number' name = "durationMillis" value='100000')
      br
      br
      label(for = 'date') date (yyyy-MM-dd):
      br
      input#date(type = 'text' name = 'dateymd' value='2020-12-14')
      br
      br
      label(for='distance') Distance in miles :
      br
      input#distance(type='number' name='distance' value='3')
      br
      br
      input(type='submit' value='Submit')

        