extends layout

block content
    form(action='/auth/fitbit/addsteps', method = 'POST')
      label(for='activityId') Activity to be logged (12030 for Running, 17151 is Walking):
      br
      input#activityId(type='number' name= 'activityId' value='')
      br
      br
      label(for = 'startTime') Start Time (HH:mm:ss):
      br
      input#startTime(type='text' name= `startTime` value = '')
      br
      br
      label(for = 'durationMillis') Duration of Workout:
      br
      input#durationMillis(type='number' name = "durationMillis" value='')
      br
      br
      label(for = 'date') date (yyyy-MM-dd):
      br
      input#date(type = 'text' name: "date" value='')
      br
      br
      label(for='distance') Distance in miles :
      br
      input#distance(type='number' name='distance' value='')
      br
      br
      input(type='submit' value='Submit')

        