extends layout

block content
    h1 = title
    form(action='/auth/fitbit/addsteps', method='POST')
      p
        | Activity: 
        input(name='activityName', value='', type='text')
        |          Start Time: 
        input(name='StartTime', value='', type='text')
        |          duration: 
        input(name='durationMillis', value='', type='text')
        |          date:
        input(name='date', value='', type='text')
        |          distance:
        input(name = 'distance', value='', type='text')
        |
        input(value='Submit', type='submit')