body,
html {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.bgimage {
  height: 100%;
  background: url(https://wallpaperset.com/w/full/7/1/b/197712.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cd {
  padding: 20px;
}
